<!--<h2>Sign up</h2>-->

<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :name %><br />-->
    <%#= f.text_field :name %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= f.label :password %>
    <%# if @minimum_password_length %>
<!--    <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br />-->
    <%#= f.password_field :password, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= f.label :avatar %>
    <%#= f.file_field :avatar%>
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--  </div>-->

<!--  <div class="actions">-->
    <%#= f.submit "Sign up" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>



<div class="do axz">
  <div class="ayb">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ahr avz j"}) do |f| %>
      <a href="/" class="l afv">
        <img src=<%= asset_path "brand.png" %> alt="brand">
      </a>
      <div class="mu">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email"%>
      </div>

      <div class="mu">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "Name"%>
      </div>

      <div class="mu afh">
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
      </div>

      <div class="mu afh">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: " Confirm Password" %>
      </div>

      <div class="afv">
        <%= f.file_field :avatar, class: "cg ns" %>
        <em>(Avatar)</em>
      </div>

      <div class="afv">
        <%= f.submit "Sign up" , class: "cg nq"%>
        <a class="cg ns" href="/login">Login</a>
      </div>
    <% end %>
  </div>
</div>

