<p><%= portfolio.title %></p>
<%= link_to 'Show', portfolio %>
<%= link_to 'Edit', edit_portfolio_path(portfolio) if logged_in?(:site_admin)%>
<td><%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' }  if logged_in?(:site_admin)%></td>
<p><%= portfolio.body %></p>
<p><%= portfolio.subtitle %></p>
<img src="<%= "#{portfolio.thumbnail_image}"%>">