<p id="notice"><%= notice %></p>

<h1>Myimages</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @myimages.each do |myimage| %>
      <tr>
        <td><%= myimage.image %></td>
        <td><%= link_to 'Show', myimage %></td>
        <td><%= link_to 'Edit', edit_myimage_path(myimage) %></td>
        <td><%= link_to 'Destroy', myimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Myimage', new_myimage_path %>
