<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body  class="is-preload">

    <%= render "shared/header_main" %>
    <%= yield %>
    <%#= source_helper("application") %>
    <%= render "shared/footer_main", main: @copy %>

  </body>
</html>
